/*Header start*/
.header{
    background-color: transparent;
    position: fixed;
    z-index: 999;
    display: flex;
    top: 1rem;
    left: 0;
    right: 0;
    align-items: center;
}
.header .inner-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-bg-white);
    padding: 0.75rem 1.2rem;
    border-radius: 2.5rem;
    min-height: 5rem;
}
.header .wrap-menu ul{
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
} 
.header .wrap-menu ul li a{
    color: var(--color-text-primary);
    font-size: 1rem;
}
.header .wrap-menu ul li a:hover{
    color: var(--pink-accent);
    text-decoration: none; 
}
.header .wrap-menu-trigger{
    display: none;
}
.header .wrap-menu-trigger button{
    color: var(--color-text-primary);
    font-size: 1.5rem;
    border: none;
    outline: none;
    background: transparent;
}
@media (max-width: 992px){
    .header .wrap-menu{ 
        display: none;
    }
    .header .wrap-menu-trigger{
        display: flex;
    }
}
/*Header end*/


/*Welcome Area Start*/
.welcome-area{
    position: relative;
    height: 100vh;
    background-image: url(../images/banner-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcome-area .inner-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcome-area .inner-wrap .title{
    text-align: center;
    max-width: 80%;
    color: var(--color-text-white);
}
.welcome-area .inner-wrap .title h1{
    line-height: 54px;
    letter-spacing: 1.4px;
    font-weight: 500;
}
.welcome-area .inner-wrap .title p{
    margin-bottom: 1.875rem;
}
.welcome-area .inner-wrap .title a{
    text-transform: uppercase;
}
@media (max-width: 768px){
    .welcome-area .inner-wrap .title h1{
        max-width: 100%;
        font-size: 2rem;
    }
}
@media (max-width: 576px){
    .welcome-area .inner-wrap .title h1{
        font-size: 1.6rem;
    }
}
/*Welcome Area End*/

/* Features Small Start */
.home-feature .inner-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 1rem ;
    background-color: var(--color-bg-white);
    border-radius: 1rem;
    margin-bottom: 2rem;
    cursor: pointer;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
}
.home-feature .item-icon{
    background-color: var(--color-bg-primary);
    border-radius: 50%;
    padding: 1rem;
    box-sizing: border-box;
    width: 5.625rem;
    height: 5.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-feature .inner-item:hover .item-icon{
    background-color: var(--pink-accent);
}
.home-feature .item-icon img{
    object-fit: contain;
    object-position: center center;
}
.home-feature .item-content{
    text-align: center;
}
.home-feature .item-content h3{
    font-size: 1.125rem;
}
.home-feature .item-content p{
    color: var(--color-text-secondary);
    font-size: 0.8125rem;
}
/* Features Small End */

/* Discuss | grow start*/
.discuss-grow{
    padding: 5rem 0;
}
.discuss-grow .inner-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.discuss-grow .inner-content{
    height: 100%;
}
.discuss-grow .inner-content .title{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}
.discuss-grow .inner-content .title p{
    color: var(--color-text-secondary);
}
/* Discuss | grow end */

/*Work process start*/
.work-process{
    min-height: 15rem;
    background-image: url(../images/work-process-bg.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 8rem 0;
}
.work-process .title{
    margin-left: 25%;
    max-width: 50%;
    color: var(--color-text-white);
    text-align: center;
    margin-bottom: 3rem;
}
.work-process .box-process{
    position: relative;
    height: 100%;
    padding: 1.25rem;
    border-radius: 0.8rem;
    background-color: var(--color-bg-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.25rem;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
    margin-bottom: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}
.work-process .box-process::before{
    content: '';
    position: absolute;
    z-index: -1;
    background: #fff;
    width: 100%;
    opacity: .15;
    height: 100%;
    bottom: -10px;
    left: 0px;
    right: -20px;
    margin: auto;
    border-radius: 20px;
    z-index: 1;
}
.work-process .box-process:hover{
    transform: translatey(-1rem);
}
.work-process .box-process strong{
    margin: 1rem 0 0.5rem 0;
    font-weight: normal;
}
.work-process .box-process span{
    color: var(--color-text-secondary);
}
.work-process .row:nth-child(2) div{
    margin-bottom: 3rem;
}
/*Work process end*/

/* Testimonials start */
.testimonials{
    padding: 5rem 0;
}
.testimonials .title{
    width: 50%;
    text-align: center;
    margin: 0 0 5rem 25%;
}
.testimonials .team-item{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    padding:  3rem 1.5rem;
    border-radius: 1rem;
    background-color: var(--color-bg-white);
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
    cursor: pointer;
    justify-content: center;
}
.testimonials .item-img{
    flex: 0 0 100%;
}
.testimonials p{
    flex: 0 0 100%;
    margin: 1.6rem 0;
}
.testimonials .user-image{
    flex: 0 0 20%;
}
.testimonials .user-image img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    aspect-ratio: 1/1;
}
.testimonials .team-info{
    display: flex;
    position: relative;
    flex-direction: column;
    flex: 0 0 80%;
    text-align: left;
    justify-content: center;
    padding-left: 1rem;
    transition: all 0.3s ease;
}
.testimonials .team-info:hover{
    transform: translateX(1rem);
}
.testimonials .team-info h3{
    font-size: 1rem;
    margin: 0 0 0.3rem;
}
.testimonials .team-info span{
    font-size: 0.8rem;
    color: var(--pink-accent);
}
@media (max-width: 1200px){
    .testimonials .user-image img {
        width: 50%;
    }
    .testimonials .user-image {
        flex: 0 0 25%;
    }
    .testimonials .team-info {
        flex: 0 0 25%;
    }
}
/* Testimonials end */



/*Pricing start*/
.pricing{
    padding: 5rem 0;
    background-color: var(--color-bg-secondary);
}
.pricing .title{
    width: 50%;
    margin: 0 0 5rem 25%;
    text-align: center;
}
.pricing .inner-pricing{
    background-color: var(--color-bg-white);
    padding: 2rem 0;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 2px 10px 20px 0 rgb(0 0 0 / 10%);;
}
.pricing .inner-pricing h3{
    font-size: 1.1rem;
    margin-bottom: 1rem;
}
.pricing .inner-pricing .pricing-wrap{
    padding: 1rem;
    width: 80%;
    margin: 0 auto;
    border-radius: 1rem;
    color: var(--color-text-white);
    margin-bottom: 2rem;
}
.pricing .inner-pricing .pricing-wrap .currency{
    font-size: 2rem;
}
.pricing .inner-pricing .pricing-wrap .price{
    font-size: 1.75rem;
}
.pricing .inner-pricing .pricing-wrap .period{
    font-size: 0.875rem;
    display: block;
}
.pricing .row > div:nth-child(odd) .inner-pricing .pricing-wrap {
    background-color: var(--color-bg-primary);
}
.pricing .row > div:nth-child(even) .inner-pricing .pricing-wrap {
    background-color: var(--pink-accent);
}
.pricing .inner-pricing ul{
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 3rem;
}
.pricing .inner-pricing ul li{
    font-size: 0.8125rem;
    color: var(--color-text-secondary);
    line-height: 2;
}
.pricing .row > div:nth-child(1) .inner-pricing li:nth-child(6),
.pricing .row > div:nth-child(1) .inner-pricing li:nth-child(5),
.pricing .row > div:nth-child(1) .inner-pricing li:nth-child(4){
    text-decoration: line-through;
}
.pricing .row > div:nth-child(2) .inner-pricing li:nth-child(6),
.pricing .row > div:nth-child(2) .inner-pricing li:nth-child(5){
    text-decoration: line-through;
}
.pricing .inner-pricing a{
    text-transform: uppercase;
}
.pricing .row:nth-child(2) div{
    margin-bottom: 3rem;
}
/*Pricing end*/


/* Counter start*/
.counter{
    padding: 10rem 0;
    background-image: url(../images/fun-facts-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} 
.counter .count-item{
    color: var(--color-text-white);
    position: relative;
    text-align: center;
}
.counter .count-item strong{
    font-size: 2.25rem;
    display: block;
}
.counter .count-item span{
    font-size: 1.1rem;
}
.counter .count-item:after{
    content: "";
    background-image: url(../images/circle-dec.png);
    position: absolute;
    top: 2rem;
    left: 100%;
    width: 50%;
    height: 2rem;
    background-repeat: no-repeat;
}
.counter .row > div:last-child .count-item:after{
    display: none;
}
@media (max-width: 1200px){
    .counter .count-item{
        margin: 0 0 3rem;
    }
    .counter .count-item:after{
        display: none;
    }
}
/* Counter end*/ 

/*Blog start*/
.blog{
    padding: 8rem 0;
}
.blog .title{
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 3rem;
}
.blog .title p{
    color: var(--color-text-secondary);
}
.blog .inner-blog{
    text-align: center;
}
.blog .inner-blog .blog-img{
    width: 100%;
    overflow: hidden;
}
.blog .inner-blog .blog-img img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.blog .inner-blog .blog-content h3{
    font-size: 1.125rem;
    margin: 1.5rem 0;
}
.blog .inner-blog .blog-content p{
    font-size: 0.8125rem;
    color: var(--color-text-secondary);
    margin-bottom: 2rem;
}
@media (max-width: 1200px){
    .blog .row:nth-child(2) > div{
        margin-bottom: 3rem;
    }
}
/*Blog end*/

/*Contact us start*/
.contact-us{
    padding: 10rem 0;
    background-color: var(--color-bg-secondary);
}
.contact-us .title{
    margin-bottom: 3rem;
    text-align: center;
    width: 50%;
    margin-left: 25%;
}
.contact-us .title h2{
    text-transform: uppercase;
}
.contact-us .title p{
    color: var(--color-text-secondary);
}
.contact-us .keep-touch h3{
    font-size: 1.125rem;
    margin-bottom:1.875rem;
}
.contact-us .keep-touch p{
    font-size: 1rem;
    margin-bottom: 1.75rem;
    color: var(--color-text-secondary);
}
.contact-us input,
.contact-us textarea{
    width: 100%;
    padding: 0.8rem 1rem;
    border-radius: 1rem;
    border: none;
    outline: none;
}
.contact-us input{
    margin-bottom: 1rem;
}
.contact-us textarea{
    margin-bottom: 2rem;
    height: 10rem;
}
/*Contact us end*/

/*Footer start*/
.footer{
    background-image: linear-gradient(127deg, #a759d1 0%, #8261ee 91% );
    padding: 1rem;
    text-align: center;
}
.footer ul{
    list-style-type: none;
    display: flex;
    padding: 0;
    justify-content: center;
    padding: 1rem 0;
    border-bottom: 1px solid #fafafa33 ;
}
.footer ul li{
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: var(--color-bg-white);
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin: 0 1rem;
    color: var(--color-bg-primary);
    transition: all 0.3s ease;
}
.footer ul li:hover{
    color: var(--color-text-white);
    background-color:  var(--pink-accent);
}
.footer ul li a{
    color: inherit;
}
.footer .fot-content p{
    padding-top: 1.75rem;
    font-weight: 400;
    font-size: 0.75rem;
    color: #fff;
    letter-spacing: 0.88px;
    text-transform: uppercase;
}
/*Footer end*/

/*Title start*/
.title h1{
    color: inherit;
    font-size: 2.25rem;
    margin-bottom: 1.875rem;
}
.title h2{
    color: inherit;
    font-size: 1.75rem;
    margin-bottom: 1.25rem;
}
.title p{
    color: inherit;
    font-size: 1rem;
    margin: 0;
}
/*Title end*/

/*Button start*/
.button{
    padding: 0.625rem 2rem;
    color: var(--color-text-white);
    border-radius: 1rem;
    transition: all 0.3s ease;
}
.button-pink{
    color: var(--color-text-white);
    background-color: var(--pink-accent);
}
.button-purple{
    color: var(--color-text-white);
    background-color: var(--color-bg-primary);
}
.button-pink:hover{
    color: var(--color-text-white);
    background-color: var(--color-bg-primary);
}
.button-purple:hover{
    color: var(--color-text-white);
    background-color: var(--pink-accent);
}
/*Button end*/